::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #d4d4d4;
  box-shadow: 0 0 2px rgba(0, 0, 0, .2) inset;
}

::-webkit-scrollbar-thumb {
  background: #373B44;
  background: -webkit-linear-gradient(to bottom, #4286f4, #373B44);
  background: linear-gradient(to bottom, #4286f4, #373B44);
  border-radius: 8px;
  border: 2px solid #d4d4d4;
}