.arrowUp {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  background: linear-gradient(130deg, #2d2722 50%, #398a99 50%);
  background-size: 300%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: .5s;
  cursor: pointer;
  @media (max-width: 768px) {
    background: (#133a5f);
    bottom: 5%;
    right: 3%;
  }
  &:hover {
    background-position: 100% 0;
  }
}