.bonuses {
  background-color: #08243e;
  &__content {
    text-align: center;
  }

  &__title {
    font-size: 36px;
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 100px;
    color: #fff;
    @media (max-width: 1182px) {
      margin-bottom: 40px;
    }
    @media (max-width: 391px) {
      font-size: 30px;
    }
    @media (max-width: 560px) {
      margin-bottom: 20px;
    }
  }
}

.bonuses-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @media (max-width: 1182px) {
    margin: 0 auto;
  }
  @media (max-width: 993px) {
    flex-direction: column;
    align-items: center;
  }

  &__item {
    flex: 25%;
    @media (max-width: 1182px) {
      flex: 50%;
      margin-top: 60px;
    }
  }

  &__text {
    font-size: 18px;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 250px;
    color: #fff;
  }
}