.comfort {

  &__content {}

  &__title {
    font-size: 36px;
    margin-bottom: 25px;
  }

  &__subtitle {
    margin-bottom: 100px;
    @media (max-width: 810px) {
      margin-bottom: 60px;
    }
  }
}

.comfort-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &__item {
    text-align: center;
    flex: 33%;
    @media (max-width: 810px) {
      flex: 100%;
      &:not(:first-child) {
        margin-top: 60px;
      }
    }
  }

  &__text {
    font-size: 18px;
    max-width: 220px;
    margin: 50px auto 0;
  }

  &__img-wrapper {
    width: 88px;
    height: 88px;
    margin: 0 auto;
  }
}
