.footer {
  background-color: #191919;
  &__logo {
    @media (max-width: 753px) {
      display: none;
    }
  }

  &__design-author {
    display: flex;
    align-items: center;
    margin-bottom: 13px;
  }

  &__develop {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    color: #ffffff;
  } 

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 120px;
    padding: 10px 0;
    @media (max-width: 753px) {
      flex-direction: column-reverse;
      justify-content: center;
    }
  }

  &__love-img {
    margin: 0 5px;
  }

  &__design-developer {
    margin-left: 10px;
  }
}

.footer-phone {
  color: #ffffff;
  text-align: center;
  @media (max-width: 753px) {
    margin-bottom: 20px;
  }
  &__text {
    font-size: 13px;
    margin-bottom: 13px;
  }

  &__tel {
    font-size: 18px;
  }
}

.developer-link {
  color: #00aeff;
  text-decoration: none;
  position: relative;
  transition: all 0.6s;

  &:before {
    content: "";
    width: 0;
    height: 0.1em;
    position: absolute;
    bottom: 0;
    left: 50%;
    background: #00aeff;
    transition: all 0.3s;
  }

  &:hover {
    &:before {
      width: 100%;
      left: 0;
      background: #00aeff;
    }
  }
}