.questions {
  background-color: #0b3554;
  &__content {

  }

  &__title {
    font-size: 36px;
    color: #ffffff;
    margin-bottom: 30px;
    @media (max-width: 463px) {
      font-size: 32px;
    }
  }

  &__subtitle {
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 100px;
    @media (max-width: 560px) {
      margin-bottom: 50px;
    }
  }
}

.questions-wrapper {
  display: flex;
  @media (max-width: 993px) {
    flex-wrap: wrap-reverse;
  }
}

.questions-list {
  flex: 50%;
  margin: 0;
  padding: 0;
  list-style-position: inside;
  @media (max-width: 993px) {
    flex: 100%;
    max-width: 570px;
    margin-top: 80px;
  }
  @media (max-width: 560px) {
    margin-top: 50px;
  }
  &__item {
    margin-bottom: 55px;
    color: #ffffff;
    font-size: 16px;
    @include bold;
  }

  &__more {
    display: flex;
    align-items: center;
    font-size: 14px;
    text-decoration: underline #B0B0B0;
    color: #ffffff;
    &:hover {
      color: #579eff;
      text-decoration: none;
    }
  }


  &__link {
    display: inline-block;
    text-decoration: underline #B0B0B0;
    color: #ffffff;
    margin-left: 30px;
    @media (max-width: 461px) {
      margin-left: 10px;
      max-width: 250px;
      vertical-align: top;
    }
    cursor: pointer;
    &:hover {
      color: #579eff;
      text-decoration: none;
    }
  }
}

.questions-list-more {
  &__text {
    margin-left: 30px;
    @media (max-width: 461px) {
      margin-left: 10px;
    }
  }
}

.questions-director {
  flex: 50%;
  height: 100%;
  width: 100%;
  position: relative;
  @media (max-width: 993px) {
    flex: 100%;
    margin: 0 auto;
  }
  &__name {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 14px;
    color: #ffffff;
    opacity: 0.8;
    background-color: #0b3554;
    padding: 10px 30px 10px 20px;
  }
  &__img {
    width: 100%;
  }
}

.pop-block {
  display: flex;
  flex-direction: row-reverse;
  background: #fff;
  color: #000;
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 14px;
  padding: 22px 22px 25px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  max-width: 344px;
  margin-top: 30px;
  @include reg;
  @media (max-width: 385px) {
    max-width: 250px;
  }
  &:before {
    content: '';
    position: absolute;
    top: -29px;
    left: 10px;
    border: 20px solid transparent;
    border-bottom: 20px solid #ffffff;
  }
}

.pop-text-block {
  padding-right: 20px;
}

.pop-block-close {
  color: #15151e;
}
