.service {

  &__title {
    font-size: 36px;
    max-width: 830px;
    margin: 0 auto 100px;
    @media (max-width: 622px) {
      font-size: 32px;
    }
    @media (max-width: 430px) {
      font-size: 24px;
    }
  }
}

.service-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &__item {
    text-align: center;
    flex: 33%;
    @media (max-width: 1182px) {
      flex: 100%;
      &:not(:first-child) {
        margin-top: 60px;
      }
    }
  }

  &__img {}

  &__text {
    font-size: 18px;
    max-width: 310px;
    margin: 40px auto 0;
  }
}
