.storage {
  background-color: #0b3554;
  &__content {}

  &__title {
    font-size: 36px;
    color: #ffffff;
    margin-bottom: 25px;
    @media (max-width: 361px) {
      font-size: 32px;
    }
  }

  &__subtitle {
    font-size: 20px;
    color: #ffffff;
    max-width: 650px;
    margin: 0 auto 100px;
    @media (max-width: 1182px) {
      margin-bottom: 60px;
    }
  }
}

.storage-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &__item {
    flex: 33%;
    text-align: center;
    @media (max-width: 1182px) {
      flex: 100%;
      &:not(:first-child) {
        margin-top: 60px;
      }
    }
  }

  &__img {
    height: auto;
    max-width: 100%;
  }
}
